@media (min-width: 640px) {

    header, footer {
        margin: 0 auto;
        width: 100%;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li { 
        display: list-item;

    }


    .message {
        font-size: 4rem;
    }

    section .images {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .images h3, .images p {
        grid-column: 1 / 4;
    }

    .images p {
        text-align: center;
    }

}