body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--paragraph);
    width: 100%;
    max-width: 1024px;
    position: relative;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--background);
}

p {
    color: var(--background);
    font-size: 1.5rem;
}

main span {
    font-weight: 700;
    color: var(--background);
    font-size: 2rem;
}

.back {
    position: absolute;
    bottom: 10px;
    right: 10%;
    text-decoration: none;
    font-size: 2rem;
    color: var(--background);
    cursor: pointer;
}

.back:hover {
    text-decoration: underline;
    text-decoration-color: var(--background);
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

footer {
    background-color: var(--background);
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: var(--headline);
    max-width: 1024px;
}

footer p:first-child {
    color: var(--button);
    margin-bottom: .5rem;
}

footer p:last-child {
    color: var(--headline);
}

footer p {
    margin: 0;
}

@media only screen and (min-width: 800px){
    h2 {
        font-size: 4rem;
    }
}